.sales {
  .head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
  }

  .add-new-product {
    padding: 15px;
    margin: 15px 0;
    background-color: antiquewhite;
    border-radius: 3px;
    text-align: left;
  }
}
